* {
  box-sizing: border-box;
}

.frame1000004363 {
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
  width: 361px;
  height: 36px;

  .component81 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    opacity: 0.47;
    border-radius: 4px;
    background: var(--Primary-Blue-9, #4169e1);
    padding: 8px;
    height: 36px;
    overflow: hidden;

    .completed {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
