* {
  box-sizing: border-box;
}

.frame1321319219 {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 12px;
  border: 1px solid var(--Grey-Grey-1, #eff0f3);
  border-radius: 8px;
  background: #ffffff;
  padding: 11px;
  width: 361px;
  height: 155px;
  overflow: hidden;

  .frame1321319209 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    column-gap: 12px;

    .frame1321319194 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      row-gap: 16px;

      .a02Jan2026 {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: 0;
        color: var(--Grey-Grey-5, #1e1f24);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .date {
        flex-shrink: 0;
        line-height: 13px;
        letter-spacing: 0;
        color: var(--Grey-Grey-5, #1e1f24);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 300;
      }

      .frame1000004098 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;

        .frame {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }

        .permission {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Grey-Grey-5, #1e1f24);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }
      }

      .frame1000004137 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;

        .frame1000004135 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 4px;
        }

        .autoWrapper {
          position: relative;
          flex-shrink: 0;
          width: 1px;
          height: 32px;

          .line28 {
            position: absolute;
            top: 16px;
            left: -16px;
            background: #eff0f3;
            width: 32px;
            height: 1px;
            rotate: 90deg;
          }
        }

        .frame1000004136 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 4px;

          .a2Hours {
            display: -webkit-box;
            flex-shrink: 0;
            align-self: stretch;
            overflow: hidden;
            letter-spacing: 0;
            color: var(--Grey-Grey-5, #1e1f24);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }

      .line282 {
        flex-shrink: 0;
        align-self: stretch;
        background: #eff0f3;
        height: 1px;
      }

      .frame1000004138 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;

        .frame10000041352 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 6px;
        }

        .frame10000041372 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 6px;

          .frame1000004063 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 4px;
            margin-right: 4px;

            .frame1000003861 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border: 1px solid #ffffff;
              border-radius: 8000px;
              background: var(--Accent-Colors-Violet, #8e44ad);
              padding: 2px 4px;
              width: 16px;
              height: 16px;
              overflow: hidden;
              row-gap: 7px;

              .mT {
                flex-shrink: 0;
                line-height: 5px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 7px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .autoWrapper2 {
      position: relative;
      flex-shrink: 0;
      width: 20px;
      height: 20px;

      .heroiconsSolidChevro {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
        rotate: 90deg;
      }
    }
  }

  .frame1000004058 {
    display: flex;
    position: absolute;
    top: -1px;
    right: -1px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border-radius: 0px 8px;
    background: #2ecc401a;
    padding: 4px;
    width: 78px;
    height: 20px;

    .approved {
      flex-shrink: 0;
      line-height: 13px;
      letter-spacing: 0;
      color: #2ecc40;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 500;
    }
  }
}
