* {
  box-sizing: border-box;
}

.frame1321319315 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 361px;
  height: 333px;
  row-gap: 20px;
  filter: blur(4px);

  .shiftDetails {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Grey-Grey-5, #1e1f24);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .absent {
    flex-shrink: 0;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Accent-Colors-Red, #e74c3c);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .heroiconsOutlineExcl {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .checkIn {
    flex-shrink: 0;
    opacity: 0.47;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Grey-Grey-5, #1e1f24);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .autoWrapper {
    position: relative;
    flex-shrink: 0;
    width: 1px;
    height: 40px;

    .line28 {
      position: absolute;
      top: 20px;
      left: -20px;
      background: #eff0f3;
      width: 40px;
      height: 1px;
      rotate: 90deg;
    }
  }

  .frame1000004143 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    border: 1px solid var(--Grey-Grey-1, #eff0f3);
    border-radius: 8px;
    background: #ffffff;
    padding: 11px;
    overflow: hidden;
    row-gap: 16px;

    .timing {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Grey-Grey-5, #1e1f24);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .frame1321319183 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 16px;

      .frame1000004194 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 8px;

        .frame1321319188 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 89px;
        }
      }
    }
  }

  .frame10000041432 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    border: 1px solid var(--Grey-Grey-1, #eff0f3);
    border-radius: 8px;
    background: #ffffff;
    padding: 11px;
    overflow: hidden;
    row-gap: 16px;

    .frame1321319184 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 16px;

      .frame10000041942 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 8px;

        .generalShift {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Grey-Grey-5, #1e1f24);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }
    }
  }

  .frame10000041433 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    border: 1px solid var(--Grey-Grey-1, #eff0f3);
    border-radius: 8px;
    background: #ffffff;
    padding: 11px;
    overflow: hidden;
    row-gap: 16px;

    .frame1321319185 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;

      .frame1000004196 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 6px;
        background: var(--Grey-Grey-1, #eff0f3);
        padding: 12px;
        overflow: hidden;

        .heroiconsOutlineMapP {
          width: 18px;
          height: 18px;
          overflow: hidden;
        }
      }

      .frame13213191882 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;
      }
    }
  }
}
