* {
  box-sizing: border-box;
}

.home2 {
  display: flex;
  align-items: center;
  border-radius: 24px;
  background: #ffffff;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .rectangle2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding-top: 16px;
    background-image: linear-gradient(180deg, #8ea3e3 0%, #ffffff00 30%);

    .frame8 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-right: 16px;
      margin-left: 16px;
      min-width: 361px;

      .a0404 {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Grey-Grey-5, #1e1f24);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .frame4 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 12px;

        .frame {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }
      }
    }

    .frame14 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 736px;
      border-radius: 32px 32px 0px 0px;
      box-shadow: 0px -6px 79px 1px #395cc63d;
      background: #ffffff1a;
      padding-right: 16px;
      padding-left: 16px;
      min-width: 393px;
      height: 80px;

      .attendance {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Grey-Grey-4, #62636c);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .heroiconsSolidHome {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }

      .frame10 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        row-gap: 8px;

        .home {
          flex-shrink: 0;
          align-self: stretch;
          text-align: center;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Grey-Grey-5, #1e1f24);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }
      }

      .frame11 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        row-gap: 8px;
      }

      .frame15 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 10000px;
        background: #395cc6;
        padding: 9px 9px 8px;
        overflow: hidden;

        .heroiconsSolidChevro {
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }

      .frame12 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        row-gap: 8px;

        .heroiconsOutlineDocu {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          margin-right: 3px;
          margin-left: 3px;
          padding: 2px 5px;
          overflow: hidden;

          .vector {
            border-radius: 1px 9px 1px 1px;
            width: 15px;
            height: 20px;
          }
        }
      }
    }
  }
}
